@media (max-width:1199.98px) {
    
}
@media (max-width:991.98px) {
    
}
@media (max-width:767.98px) {
    
}
@media (max-width:575.98px) {
   table th {
       width: 50px !important;
       font-size: 8px !important;
   }
   table td {
       font-size: 8px !important;
       width: 40px !important;
   }
}